.budget-head,
.budget-item-container {
  border-bottom: 2px solid grey;
  width: 100%;
}

.budget-head,
.budget-item,
.sub-budget {
  display: grid;
  grid-template-columns: 3rem 1fr 5rem 5rem;
  padding: 0.25em;
}

@media only screen and (max-width: 1200px) {
  .budget-head,
  .budget-item,
  .sub-budget {
    grid-template-columns: 3rem 1fr 5rem 5rem;
  }
}

.sub-budget > p:first-of-type {
  margin-left: 1.25em;
  position: relative;
}

.sub-budget p:first-of-type:before {
    content: "-";
    position: absolute;
    top: -0.125em;
    left: -0.75em;
}

.budget-head {
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

.budget-head p,
.budget-item p {
  margin: 0.5rem;
}

.sub-budget p {
    margin: 0 0.5rem;
}

.budget-item .expand-budget {
  background-color: transparent;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  transition: transform 0.2s;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
